<div class="standardContainer container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Tutorial</h1>
          <hr>
        </div>
      </div>
      <div class="row topicPanelRow" *ngFor="let value of values; let valueIndex = index">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <lt-topic-panel [value]="value" [collapsableId]="'collapse' + valueIndex"></lt-topic-panel>
        </div>
      </div>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>
